body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(photo_main/polo_rally.webp);
    animation: animaFundo 30s infinite;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
@keyframes animaFundo {
    30% {
        background-image: url(photo_main/audi.rally.webp);
    }
    50% { 
        background-image: url(photo_main/bmw_rally.webp);
    }
    80% {
        background-image: url(photo_main/audi_porsche_rally.webp);
    }
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    grid-template-columns: 500px 500px 500px auto;
    grid-template-rows: 300px 310px 30px;
    height: 98vh;
}

.header {
    grid-area: header;
    background-color: rgb(128, 128, 128, 0.8);
    padding: 7%;
    font-size: 100%;
    border-radius: 15px;
    grid-column: 1 / 4;

}
h1 {
 grid-column: 2/4;
}
.side {
    grid-area: sidebar;
    background-color: rgb(128, 128, 128, 0.8);
    padding: 1%;
    grid-column: 4 / 5;
    border-radius: 15px;
    grid-row: 2 / 5;

}

.main {
    align-content: space-evenly;
    text-align: -webkit-center;
    border-radius: 15px;
    overflow: auto;
    background-color: rgb(128, 128, 128, 0.8);
    grid-column:1/2;
    grid-row: 2/4;
}


.footer {
    grid-area: bottom;
    background-color: rgb(128, 128, 128, 0.8);
    padding: 2%;
    grid-column: -4/-2;
    border-radius: 15px;
}
table, tr, th {
    border: 1px solid black;
    border-spacing: 30px;
    border-radius: 10px;
    font-size: 115%;
    border-style: double;
}
button, tr:hover {
    background-color: aqua;
    cursor: pointer;
}
button {
    background: none;
    border: none;
    font-size: 115%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
    background-color: rgb(128, 128, 128, 0.8);
    padding: 2%;
    border-radius: 15px;
    grid-column: 4/5;
    grid-row: 1/2;
}
#confiG {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 4/5;
}
.profilePic {
    grid-column: 4/5;
    grid-row: 1/2;
    position: relative;
    left: 50%;
}
.userName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(5px);
}
#name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translatex(10px);
}
#lastName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info-card {
    width: 500px;
    height: 450px;
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    right: 410px;
    top: 310px;
    transform: translateX(350%);
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 10;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.2);
    overflow: auto;
    font-size: 155%;
}
.info-card.show {
    transform: translateX(0);
}
